{
  "branches": ["main", "ci/release"],
  "plugins": [
    [
      "@semantic-release/changelog",
      "@semantic-release/git",
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      },
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/changelog",
        {
            "changelogFile": "CHANGELOG.md"
        }
      ],
      "@semantic-release/npm"
    ]
  ]
}